@import "tailwindcss";

/* 
    portfolio-react
    Patricia Anne Usal
    301159080
    19-09-2025
*/

html, body {
    margin: 0;
    padding: 0;
    font-family: "Space Grotesk", sans-serif;
    background: #323532;
    color: #8F8A76;
    scroll-behavior: smooth;
}

/*blink animation*/

@layer utilities {
    @keyframes blink {
        0%, 100% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
    }
    .animate-blink {
        animation: blink 0.8s step-end infinite;
    }


    @keyframes loading {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(250%);
        }
    }
    .animate-loading-bar {
        animation: loading 0.8s ease infinite;
    }
}

.flip-card {
  perspective: 1000px;
}

.flip-card-inner {
  transition: transform 0.7s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.flip-card-back {
  transform: rotateY(180deg);
}